*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info{
    margin-left: 60px;
    display: flex;
    gap: 10px;
}
.media{
    margin-right: 60px;
    display: flex;
    gap: 10px;
}
.infotab{
    background-color: rgb(36, 36, 37);
    color: rgb(171, 168, 168);
    padding: 10px;

    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 40px;
    color: rgb(75, 156, 75);
    padding-left: 26px;
}
.navbar{
    background-color: white;
    padding: 8px 40px 8px 40px;
    position: sticky;
    top: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}
.options{
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    gap: 150px;
    list-style: none;
}
.navbar label{
    display: none;
}

#click:checked~.navbar ul{
    display: block;
}

@media screen and (max-width:650px) {
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
        position: absolute;
        top: 100px;
        width: 100%;
    }
    .navbar ul a{
        padding: 8px;
    }
}
.icon{
    font-size: 20px;
    padding-top: 10px;
    padding-right: 25px;
    display: flex;
    gap: 20px;
}

.a{
    color: black;
    text-decoration: none;
}
.a:hover{
    color: rgb(75, 156, 75);
}

.content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 239, 240);
}

.text{
    font-size: 60px;
    padding: 160px;
}
.text2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.zay{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(75, 156, 75);
}
.e{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(75, 156, 75)
}
.text3{
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b{
    text-decoration: none;
    color: rgb(75, 156, 75);
}

.content2{
    height: 115vh;
}
.txt{
    width: 580px;
    margin-left: 33%;
    display: block;
    justify-content: center;
    justify-items: center;
    
}
.month{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 80px;
}
.desc{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}
.watch{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.pn{
    font-size: 30px;
    margin: 10px 130px 10px 130px;
}
.pn2{
    font-size: 30px;
    margin: 10px 143px 10px 143px;
}
.pn3{
    font-size: 30px;
    margin: 10px 110px 10px 110px;
}
.pb{
    font-size: 20px;
    padding: 10px;
    margin: 10px 130px 10px 130px;
    background-color: rgb(75, 156, 75);
    border: none;
    color: white;
    cursor: pointer;
}
.pb:hover{
    box-shadow: 20px 20px 20px grey;
}
.shoe{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.specs{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.product{
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
}
.watch:hover{
    box-shadow: 30px 30px 90px grey;
}
.shoe:hover{
    box-shadow: 30px 30px 90px grey;
}
.specs:hover{
    box-shadow: 30px 30px 90px grey;
}
.content3{
    height: 118vh;
    background-color: rgb(226, 226, 227);
}
.feature{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 80px;
}
.rep{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}
.txt2{
    width: 580px;
    margin-left: 33%;
    display: block;
    justify-content: center;
    justify-items: center;   
}
.card {
  box-shadow: 0 4px 8px  gray;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
  cursor: pointer;
}
.card:hover{
    box-shadow: 30px 30px 30px  gray;
    
}
.rating{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.star{
    color: rgb(234, 234, 4);
}
#star2{
    color: grey;
}
.price{
    color: grey;
}
.trch{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.lorem{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.review{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: grey;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.content4{
    height: 65vh;
    background-color: #212934;
}
.zs{
    color:rgb(75, 156, 75);
    font-size: 30px;
    border-bottom: 1px solid grey;
}
.details{
    padding: 50px 10px ;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border-bottom: 1px solid grey;
}
.q{
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    padding-top: 30px;
}
.l{
    text-decoration: none;
    color: white;
}
.info1{
    display: flex;
    padding-top: 10px;
}
.luxury{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pr{
    font-size: 25px;
    color: white;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid grey;
}
.ic{
    color: grey;
    font-size: 35px;
}
.sm{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.inp input {
    font-size: 25px;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
}
.inp button{
    font-size: 25px;
    background-color: rgb(75, 156, 75);
    color:white;
    padding: 5px 10px 5px 10px;
}
.content5{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    height: 7vh;
    background-color: #1d242d;
    padding: 16px 0;
    display: flex;
}
.copy{
    color: white;
    margin-left: 20px;
}
.li a{
   color:  rgb(75, 156, 75);
   margin-left: 20px;
}
.m{
    color: white;
}
.about_content{
    background-color:  rgb(75, 156, 75);
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 90vh;
}
.au{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lid{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.img1{
    height: 450px;
    width: 450px;
    margin-right: 80px;
    margin-top: 110px;
}
.about_text{
    font-size: 60px;
    padding: 160px;
    margin-top: 80px;
}
.about_txt{
    width: 580px;
    margin-left: 33%;
    display: block;
    justify-content: center;
    justify-items: center;
}
.about_our{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 80px;
}
.about_desc{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}
.about_card1{
    font-size: 20px;
    width: 300px;
    height: 200px;
    padding-top: 70px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    display: block;
    justify-content: center;
    justify-items: center;
}
.about_card1 p{
    padding-top: 20px;
}
.truck{
    font-size: 45px;
    color: rgb(35, 46, 35);
}
/* .truck:hover{
    font-size: 45px;
    color: white;
} */
.about_card{
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about_card1:hover{
    color: white;
    background-color: rgb(96, 162, 96);
    transition: all .5s ease-in-out;
}
.brand1{
    color: grey;
    height: 100px;
    width: 140px;
    opacity: 0.3;
}
.brand1:hover{
    height: 100px;
    width: 140px;
}
.brand{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}
.about_txt2{
    background-color:  #e9eef5;
    width: 580px;
   margin-left: 33%;
    display: block;
    justify-content: center;
    justify-items: center;
}
.about_content3{
    background-color: #e9eef5;
    height: 60vh;
}
.brands{
    margin-top: 25px;
    margin-bottom: 25px;
}
.contact_content{
    height: 20vh;
    background-color: #e9eef5 ;
    padding-top: 25px;
    display: block;
    justify-content: center;
    justify-items: center;
}
.c{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.psi{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.map{
    height: 50vh;
}
.cat{
    font-size: 20px;
    cursor: pointer;
}
/* .m{
    font-size: 15px;
} */
 .card1 {
  box-shadow: 0 4px 8px  gray;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
}
.card1:hover{
    box-shadow: 30px 30px 30px  gray;
}
.waaa{
    display: flex;
    justify-content: space-evenly;
}
.waaa1{
    display: flex;
    justify-content: space-evenly;
}
.form{
    height: 40vh;
    /* font-size: 30px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    background-color: beige;
}
.form div{
    font-size: 20px;
    margin-left: 50px;
    display: flex;
    padding: 20px;
}
.naamdal{
    font-size: 20px;
    margin-left: 80px;
    align-items: center;
    padding-left: 5px;
}
.emaildal{
    font-size: 20px;
    margin-left: 81px;
    align-items: center;
    padding-left: 5px;
}
.contactdal{
    font-size: 20px;
    margin-left: 20px;
    align-items: center;
    padding-left: 5px;
}
.enter{
    font-size: 40px;
    padding-left: 525px;
}